/* gradients https://uigradients.com/#SeaWeed */

.body-shine {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.body-hazel {
  background: linear-gradient(to right, #e684ae, #79cbca, #77a1d3);
}

.body-instagram {
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

.body-atlas {
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
}

.body-nighttime {
  background: linear-gradient(to right, #240b36, #c31432);
}

.body-summersea {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

.body-summermidnight {
  background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}
