@import "_normalize.scss";
@import "_bootstrap-grid.scss";
@import "_gradients.scss";

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

#ipv4,
#ipv6 {
  font-size: 20px;
  cursor: pointer;
}

html {
  height: 100%;
}
body {
  width: 100%;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.col-12 {
  text-align: center;
}

.error {
  color: red;
}

#clip {
  color: green;
  font-weight: 800;
  font-size: 20px;
}